
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Whatever you are looking for does not exist</h2>

<h6><a style="color: Red;" href="@Url.Action("Index", "ReservationDates")">Please go back</a></h6>